#canv {
    border: 3px solid #000;
    height: 480px;
    width: 640px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    font-size: 27px;
    opacity: 0.9;
}

.name {
    color: coral;
}